<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"className":"is-style-no-spacing","layout":{"inherit":false}} -->
<main class="wp-block-group is-style-no-spacing">
  <!-- wp:pattern {"slug":"ona/posts-grid-2-columns-sticky-on-scroll-style-3"} /-->

  <!-- wp:pattern {"slug":"ona/general-quote-fashion"} /-->

  <!-- wp:pattern {"slug":"ona/posts-grid-3-columns-fashion"} /-->

  <!-- wp:pattern {"slug":"ona/posts-grid-4-columns-fashion"} /-->

  <!-- wp:pattern {"slug":"ona/general-partner-logos-fashion"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
